@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
/*--------------------------Generic styling------------------*/
html, body {
  font-family: 'Patrick Hand SC';
  font-size: 1rem;
  min-height: 100%;
  width: 100%;
  padding-bottom: 8vh;
}

.main {
    padding-left: 2vw;
    padding-right: 2vw;
}

.font {
    color: black!important;
}


html {
    background-image: url("../images/wrinkled-note40.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
}

.btn{
    background-color: lightgrey!important;
    color: black!important;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
}


.collapsible-body {
    border:solid 2px #41403E!important;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px!important;
}

.lined.thick{
         border:solid 7px #41403E;
         border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      }
.lined.thin{
         border:solid 2px #41403E;
         border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      }

nav {
    margin-top: 5vw;
    width: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: transparent;
    min-height: 16vh!important;
}


.nav-wrapper {
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.nav-wrapper a {
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
}

.brand-logo {
    font-size: 8vh!important;
}

.nav-wrapper li:hover{
    text-decoration-line: underline;
    text-decoration-style: 'Patrick Hand SC';
    padding-top: 1vh; 
}


.side-nav {
    margin-top: 15%;
    padding-top: 5%;
    background-image: url("../images/ripped_paper.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.side-nav li {
    font-size: 6vh;
}

.center_btn {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
    padding-top: 4vw;
}

.center_btn button  {
    margin-left: 6vw;
    min-height: 4vh!important;
    min-width: 3vw!important;
}

.picker__date-display {
    background-color: transparent;
    color: black;
}

.picker__year-display {
    color: black;
}

.picker__box {
    background-image: url("../images/postitsummer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
    background-color: transparent;
    border: none;
    padding: 2vw;
}

.picker__select--month.browser-default {
    background-color: transparent!important;
    border: none;
    font-size: 2vw;
}

.picker__select--year.browser-default {
    background-color: transparent!important;
    border: none;
    font-size: 2vw;
}

input {
    border-bottom: black solid 2px!important;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-size: 2vw!important;
}

label {
    color: black!important;
}

.heading-box {
    text-decoration-line: underline;
    text-align: center!important;
}

.delete {
    background-color: red!important;
    width: 80%;
    height: 100%;
}

.card {
    background-image: url("../images/postitsummer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
}

.card-content {
    min-height: 30vh;
    padding-top: 15%!important;
}


.card-action {
    background-color: transparent!important;
}


.center {
    align-content: center!important;
    padding-top: 0!important;
}


.title {
    padding-left: 2vw!important;
    padding-right: 2vw!important;
    margin-bottom: 0;
    font-size: 4vh!important;
}



.nav-wrapper .input-field input[type=search]{
    padding-left: 2vw!important;
    padding-top: 4vh;
    margin-top: 1vh;
    background-color: transparent;
}

.card-action:hover {
    text-decoration-line: underline;
}


@media(max-width: 576px) {
    .brand-logo {
        font-size: 9vw;
        width: 100%;
    }
}

.nav-link {
    margin-top: 2vh;
    padding-top: 0;
    margin-right: 2vw!important;
}

.nav-link a {
    font-size: 6vh;
}

.nav-link label {
    font-size: 3vh;
    padding-right: 3vw;
}

.list_country {
    color: black;
    font-size: 3vh;
    padding: 1vh;
}

.country_list {
    margin-top: 2vh;
}










