@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
/*--------------------------Generic styling------------------*/
html, body{
  font-family: 'Patrick Hand SC';
  font-size: 1rem;
  min-height: 100%;
  width: 100%;
}

html {
    background-image: url("../images/wrinkled-note40.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
}

.btn{
    background-color: lightgrey!important;
    color: black!important;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
}


.collapsible-body {
    border:solid 2px #41403E!important;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px!important;
}

.lined.thick{
         border:solid 7px #41403E;
         border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      }
.lined.thin{
         border:solid 2px #41403E;
         border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      }

nav {
    margin-top: 5vw;
    width: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: transparent;
    min-height: 10vh!important;
}

.nav-wrapper {
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
}


.nav-wrapper a {
    color: black;
    font-size: 1.5rem; 
    padding-left: 2vw;
    padding-right: 2vw;
}

.nav-wrapper li:hover{
    text-decoration-line: underline;
    text-decoration-style: 'Patrick Hand SC';
    padding-top: 1vh; 
}


.side-nav {
    margin-top: 15%;
    padding-top: 5%;
    background-image: url("../images/ripped_paper.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.side-nav li {
    font-size: 6vh;
}

@media(max-width: 400px){
    .nav-wrapper a {
    font-size: .95rem;
    width: 50%;
    }
    .side-nav {
        margin-top: 25%;
    }
}

.center_btn {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 4vw;
    padding-top: 4vw;
}

.center_btn button  {
    margin-left: 6vw;
    min-height: 4vh!important;
    min-width: 3vw!important;
}

.picker__date-display {
    background-color: transparent;
    color: black;
}

.picker__year-display {
    color: black;
}

.picker__box {
    background-image: url("../images/postitsummer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-content: center;
    background-color: transparent;
    border: none;
    padding: 2vw;
}

.picker__select--month.browser-default {
    background-color: transparent!important;
    border: none;
    font-size: 2vw;
}

.picker__select--year.browser-default {
    background-color: transparent!important;
    border: none;
    font-size: 2vw;
}

input {
    border-bottom: black solid 2px!important;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    font-size: 2vw!important;
}

label {
    color: black!important;
}

.heading-box {
    width: fit-content;
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
}

.delete {
    background-color: red!important;
    width: 80%;
    height: 100%;
}










