{% extends 'base.html' %} {% block content %}
<h3>Add accommodation to your review {{title.review_title |title}}</h3>
<div class="row">
  <form action="{{ url_for('insert_accom') }}" method="POST" class="col s12">
  <input type="hidden" id="review_title" name="review_title" value="{{title.review_title}}" readonly/>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="accom_name" name="accom_name" type="text" />
        <label for="icon_prefix">Accommodation Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="accom_site" name="accom_sire" type="text" />
        <label for="icon_prefix">Accommodation Website</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="accom_address" name="accom_address" type="text" />
        <label for="icon_prefix">Accommodation Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="accom_style" name="accom_style" type="text" />
        <label for="icon_prefix">Accommodation Style</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="accom_price" name="accom_price" type="text" />
        <label for="icon_prefix">Accommodation Price</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="accom_clean" name="accom_clean" type="text" />
        <label for="icon_prefix">Accommodation Cleanliness</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="accom_comment" name="accom_comment" type="text" />
        <label for="icon_prefix">Add aditional comments</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit">
        Add Accommodation
        <i class="material-icons right">playlist_add</i>
      </button>
    </div>
  </form>
</div>


{% endblock %}
