<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Where to next?</title>
  </head>

  <body>
  <header>
  <nav>
    <div class="nav-wrapper lined thin">
      <a href="{{url_for('home')}}" class="brand-logo">Where to next?</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="thin lined nav-link"><a href="{{url_for('new_country')}}">New Review</a></li>
        <li>
        <div class="input-field thin lined nav-link">
        <form action="{{ url_for('review_search') }}" method="POST">
        <label class="label-icon" for="search"><i class="m-glass material-icons prefix">search</i></label>
          <input id="search" name="search" type="search" required>
          <label class="search_cl" for="icon_prefix">Search for countries</label>
          <i class="material-icons">close</i>
          </form>
          </div>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
    <li><a href="{{url_for('new_country')}}">New Review</a></li>
    <li>
    <div class="input-field">
        <form action="{{ url_for('review_search') }}" method="POST">
          <input id="search" name="search" type="search" required>
          <label class="search_cl" for="icon_prefix">Search for countries</label>
          <i class="material-icons">close</i>
        </form>
        </div>
        </li>
  </ul>
    </div>
  </nav>


  </header>

    <div class="main">
      {% block content %} 
      
      {% endblock %}
    </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    
    

    
  </body>
</html>
