
{% extends 'base.html' %}{% block content %}
<h3>Pick City for {{country.country_name}}</h3>
{% for city in cities %}
<a href="{{url_for('add_review', city_id=city._id)}}">{{city.city_name}}</a>


{% endfor %}


<form action="{{ url_for('insert_city') }}" method="POST" class="col s12">
    <h3>Add City for {{country.country_name}} </h3>
	<input type="hidden" id="country_name" name="country_name" value="Country = {{country.country_name}}" readonly/>

    <div class="input-field col s12">
		<i class="material-icons prefix">Map</i>
		<input id="city_name" name="city_name" type="text" />
		<label for="icon_prefix">City Name</label>
	</div>

	<div class="row">
		<button class="btn waves-effect waves-light" type="submit">
        Add City
        <i class="material-icons right">playlist_add</i>
      </button>
	</div>
</form>



{% endblock %}