
{% extends 'base.html' %}{% block content %}
<div class="container">
<div class="col title s12">
<p class="head-main">Sorry we couldn't find {{ search }} </p>
<p class="head-sub">Did you mean any of these countries? </p>
</div>


<div class="row">
<div class="col center s12">
<ul>
{% for place in results %}
<li class="country_list">
<a class="list_country lined thin" name="list_country" href="{{url_for('add_list_country', place = place )}}">{{ place |title}}</a>
</li>
{% endfor %}
</ul>
</div>
</div>
</div>


{% endblock %}