{% extends 'base.html' %} {% block content %}
<div class="container">
<div class="row page_top">
<p class="heading-box head-main">Edit your overview for {{title.city_name |title}}</p>
</div>
<div class="row">
  <form action="{{ url_for('update_first', first_id=first._id) }}" method="POST" class="col s12">
    <input type="hidden" id="review_title" name="review_title" value="{{title.review_title}}" />
    <p class="head-sub">Trip dates</p>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">date_range</i>
        <input id="start_date" name="start_date" type="text" class="datepicker" >
        <label for="start_date">Start date - Required</label>
      </div>
      <div id="endDate" class="input-field col s12 m6">
        <i class="material-icons prefix">date_range</i>
        <input id="end_date" name="end_date" type="text" class="datepicker" >
        <label for="end_date">End date - Required</label>
      </div>
      <div class="row">
    <div class="input-field col s12 m6">
    <select id="reason" name="reason">
      <option value="{{first.reason}}" disabled selected>Business, pleasure or other?</option>
      <option value="Business">Business</option>
      <option value="Pleasure">Pleasure</option>
      <option value="Event/Festival">Event/Festival</option>
    </select>
    <label for="reason">Currently - {{first.reason}}</label>
    </div>
    <div class="input-field col s12 m6">
        <select id="s_or_g" name="s_or_g">
      <option value="{{first.s_or_g}}" disabled selected>Did you travel solo or in a tour</option>
      <option value="Solo">Solo</option>
      <option value="With friends">With friends</option>
      <option value="Tour">Tour</option>
    </select>
    <label for="s_or_g">Currently - {{first.s_or_g}}</label>
    </div>
    </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">event</i>
        <input id="event" name="event" type="text" value="{{first.event}}" />
        <label for="icon_prefix">If event, which one?</label>
      </div>
    <div class="center_btn">
      <button class="btn lined thin waves-effect waves-light" type="submit">
        Update info
        <i class="material-icons right">playlist_add</i>
      </button>
    </div>
  </form>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js')}}"></script>





{% endblock %}
