{% extends 'base.html' %} {% block content %}

<!-- Edit final info -->

<div class="container">
  <div class="row page_top">
    <p class="head-main heading-box">
      Edit your final comments for {{title.city_name |title}}
    </p>
  </div>
  <div class="row">
    <form
      action="{{ url_for('update_final', final_id=final._id) }}"
      method="POST"
      class="col s12"
    >
      <input
        type="hidden"
        id="review_title"
        name="review_title"
        value="{{title.review_title}}"
        readonly
      />
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">thumb_up_alt</i>
          <input
            id="reasons_yes"
            name="reasons_yes"
            type="text"
            maxlength="300"
            value="{{final.reasons_yes}}"
            required
          />
          <label for="icon_prefix">Reasons to return - Required</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">thumb_down_alt</i>
          <input
            id="reasons_not"
            name="reasons_not"
            type="text"
            maxlength="300"
            value="{{final.reasons_no}}"
            required
          />
          <label for="icon_prefix">Reasons not to return - Required</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">directions_bus</i>
          <input
            id="ap_transport"
            name="ap_transport"
            type="text"
            value="{{final.ap_transport}}"
          />
          <label for="icon_prefix">Travel from airport</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">subway</i>
          <input
            id="city_transport"
            name="city_transport"
            type="text"
            value="{{final.city_transport}}"
          />
          <label for="icon_prefix">Travel around city</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">sms</i>
          <input
            id="comment_gen"
            name="comment_gen"
            type="text"
            value="{{final.comment_gen}}"
          />
          <label for="icon_prefix">Any final comments?</label>
        </div>
      </div>
      <div class="center_btn">
        <button class="lined thin btn waves-effect waves-light" type="submit">
          Update your final comments
          <i class="material-icons right">playlist_add</i>
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
