{% extends 'base.html' %}{% block content %}
<div class="container">
  <div class="row">
    <div class="col title s12">
      <p class="heading-box head-main">
        Add Some initial info to {{title.city_name |title}}
      </p>
    </div>
    <div class="row">
      <form
        action="{{ url_for('add_review_info', review_id=title._id) }}"
        method="POST"
        class="col s12"
      >
        <input
          type="hidden"
          id="review_title"
          name="review_title"
          value="{{title.review_title}}"
        />
        <p class="head-sub">Trip dates</p>
        <p>
          If this was a day trip, simply select the same date for start and end
          date
        </p>
        <div class="row">
          <div class="input-field col s12 l6">
            <i class="material-icons prefix">date_range</i>
            <input
              id="start_date"
              name="start_date"
              type="text"
              class="datepicker"
              required
            />
            <label for="start_date">Start date - Required</label>
          </div>
          <div id="endDate" class="input-field col s12 l6">
            <i class="material-icons prefix">date_range</i>
            <input
              id="end_date"
              name="end_date"
              type="text"
              class="datepicker"
              required
            />
            <label for="end_date">End date - Required</label>
          </div>
        </div>
        <div class="input-field col s12 m6">
          <select id="reason" name="reason">
            <option value="" disabled selected></option>
            <option value="Business">Business</option>
            <option value="Pleasure">Pleasure</option>
            <option value="Event/Festival">Event/Festival</option>
          </select>
          <label>Business or pleasure?</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">event</i>
          <input id="event" name="event" type="text" />
          <label for="icon_prefix">If event, which one?</label>
        </div>
        <div class="input-field col s12">
          <select id="s_or_g" name="s_or_g">
            <option value="" disabled selected></option>
            <option value="Solo">Solo</option>
            <option value="With friends">With friends</option>
            <option value="Tour">Tour</option>
          </select>
          <label>Did you travel alone or with friends?</label>
        </div>
        <div class="center_btn">
          <button id="firstAdd" class="btn lined thin waves-effect waves-light" type="submit">
            Add starter info
            <i class="material-icons right">playlist_add</i>
          </button>
        </div>
      </form>
      <form
        action="{{ url_for('insert_accom', review_id=title._id) }}"
        method="POST"
        class="col s12"
      >
        <input
          type="hidden"
          id="accom_name"
          name="accom_name"
          value="This was a day trip"
        />
      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% endblock %}
