{% extends 'base.html' %} {% block content %}
<h3>Add Hospitality to {{title.review_title |title}}</h3>
<div class="row input_doc">
  <form action="{{ url_for('insert_hospo') }}" method="POST" class="col s12">
  <input type="hidden" id="review_title" name="review_title" value="{{title.review_title}}" readonly/>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_name" name="hospo_name" type="text" />
        <label for="icon_prefix">Venue name - Required</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_style" name="hospo_style" type="text" />
        <label for="icon_prefix">Venue style - Required</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_service_rate" name="hospo_service_rate" type="text" />
        <label for="icon_prefix">How was the service out of 10? - Required</label>
      </div>
    </div>
    <ul class="collapsible popout">
    <li>
      <div class="lined thin collapsible-header"><i class="material-icons">filter_drama</i>Aditional info</div>
      <div class="lined thin collapsible-body">
      <span>
      <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_site" name="hospo_site" type="text" />
        <label for="icon_prefix">Venue Website</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_hours" name="hospo_hours" type="text" />
        <label for="icon_prefix">Opening hours</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_cost" name="hospo_cost" type="text" />
        <label for="icon_prefix">Cost rating</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_overall_rating" name="hospo_overall_rating" type="text" />
        <label for="icon_prefix">Taking service, cost, wait time, location etc into consideration</label>
      </div>
    </div>   
      </span>
      </div>
    </li>
    </ul>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_comment" name="hospo_comment" type="text" />
        <label for="icon_prefix">Final comments</label>
      </div>
    </div>
    <div class="center_btn">
      <button class="lined thin btn waves-effect waves-light" type="submit">
        Add Hospitality 
        <i class="material-icons right">playlist_add</i>
      </button>
      <button formaction = "{{url_for('insert_another_hospo')}}" class="lined thin btn waves-effect waves-light" type="submit">
        Add A different Hospo
        <i class="material-icons right">playlist_add</i>
      </button>
    </div>
  </form>
</div>


{% endblock %}
