{% extends 'base.html' %} {% block content %}
<div class="container page_top">
<p class="heading-box head-main">Add Hospitality to {{title.city_name |title}}</p>
<a href="{{url_for('skip_hospo', review_id=title._id)}}"  class="lined thin waves-effect waves-light btn-large btn">Skip this section</a>
<div class="row input_doc">
  <form action="{{ url_for('insert_hospo', review_id=title._id) }}" method="POST" class="col s12">
  <input type="hidden" id="review_title" name="review_title" value="{{title.review_title}}" />
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">local_cafe</i>
        <input id="hospo_name" name="hospo_name" type="text" />
        <label for="icon_prefix">Venue name - Required</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">local_bar</i>
        <input id="hospo_style" name="hospo_style" type="text" />
        <label for="icon_prefix">Venue style - Required</label>
      </div>
      <div class="input-field col s12 m6">
      <i class="material-icons prefix">thumbs_up_down</i>
        <p class="range-field section">
        <input type="range" id="hospo_service_rating" name="hospo_service_rating" min="0" max="10" />
        </p>
        <label for="hospo_service_rating">Out of 10, how was the service?</label>
      </div>
    </div>
    <ul class="collapsible popout">
    <li>
      <div class="lined thin collapsible-header"><i class="material-icons">read_more</i>Aditional info</div>
      <div class="lined thin collapsible-body">
      <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">language</i>
        <input id="hospo_site" name="hospo_site" type="text" />
        <label for="icon_prefix">Enter a url here for this venue</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">schedule</i>
        <input id="hospo_hours" name="hospo_hours" type="text" />
        <label for="icon_prefix">Opening hours</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">credit_card</i>
        <input id="hospo_cost" name="hospo_cost" type="text" />
        <label for="icon_prefix">Cost rating</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">rate_review</i>
        <input id="hospo_overall_rating" name="hospo_overall_rating" type="text" />
        <label for="icon_prefix">Overall rating</label>
      </div>
    </div>   
      </div>
    </li>
    </ul>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">sms</i>
        <input id="hospo_comment" name="hospo_comment" maxlength="500" type="text" />
        <label for="icon_prefix">Final comments</label>
      </div>
    </div>
    <div class="center_btn">
      <button class="lined thin btn waves-effect waves-light" type="submit">
        Add Hospitality 
        <i class="material-icons right">playlist_add</i>
      </button>
      <button formaction = "{{url_for('insert_another_hospo', review_id=title._id)}}" class="lined thin btn waves-effect waves-light" type="submit">
        Add A different Hospo
        <i class="material-icons right">playlist_add</i>
      </button>
    </div>
  </form>
</div>
</div>


{% endblock %}
