{% extends 'base.html'%} {% block content %}
<div class="row center">

  <div class="row title">
      <div class="col s12">
        <p>Stayed at an awesome hostel?
        <br>
        Want to shout out to the best coffee you found in The UK
        <br>
        Maybe you want ideas of what to do on your next trip?
        <br>
        See what like minded people have to say about places you want to go,
          and let others know about places you've been.
          <br>
          View the latest reviews below or search for countries or cities in the menu above
        </p>
      </div>
  </div>
  <div class="col s12 center">
    <h4>The only real question is, Where to Next?</h4>
  </div>
</div>

<div class="row">
  {% for title in titles %}
  <div class="col s6 m6 l4">
    <div id="card" class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            {% for city in cities %} {% if city.city_name == title.city_name %}
            <h5>Country - {{ city.country_name }}</h5>
            {% endif %} {% endfor %}
            <h5>City - {{title.city_name}}</h5>
          </div>
        </div>
      </div>
      <div class="card-action center">
        <a class="font" href="{{url_for('landing_link', review_id=title._id)}}">Check out this review</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
