{% extends 'base.html'%} {% block content %}
<div class="row">
  <div class="row page_top title-main">
    <div class="col s12">
      <p class="title-left front-font lined thin">
        Stayed at an awesome hostel??
      </p>
    </div>
    <div class="col s12">
      <p class="title-right front-font lined thin">
        Want to shout out to the best coffee you found in The UK?
      </p>
    </div>
    <div class="col s12">
      <p class="title-left-2 front-font lined thin">
        Maybe you want ideas of what to do on your next trip?
      </p>
    </div>
    <div class="col s12">
      <p class="title-right-2 front-font lined thick">
        See what like minded people have to say about places you want to go and
        let others know about places you've been.
      </p>
    </div>
    <div class="col s12">
      <p class="title-mid lined thin">
        View the latest reviews below or search for countries or cities in the
        menu above
      </p>
    </div>
    <div class="col s12">
      <p class="title-main thick lined">
        The only real question is, Where to Next?
      </p>
    </div>
  </div>
  <div class="row mobile-title">
    <div class="col center s12">
      <p class="title-mid lined thin">
        Share experiences, the good, the bad, and probably - The ugly.
      </p>
    </div>
  </div>

    <!-- Code for cards taken from Materialize -->

  <div class="row">
    {% for title in titles %}
    <div class="col cards s6 m6 l4">
      <div id="card" class="card">
        <div class="card-content">
          <div class="col s12">
            {% for city in cities %} {% if city.city_name == title.city_name %}
            <p class="head-sub">Country - {{ city.country_name |title }}</p>
            {% endif %} {% endfor %}
            <p class="head-sub">City - {{title.city_name |title}}</p>
          </div>
        </div>
        <div class="card-action">
          <a
            class="font head-least"
            href="{{url_for('landing_link', review_id=title._id)}}"
            >Check out this review</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
