{% extends 'base.html' %} {% block content %}
<div class="container">
<div class="row page_top">
    <div class="col center s12">
    <p class="heading-box head-main">View review for {{title.city_name |title}}</p>
    <p class="head-sub">Country = {{ country.country_name }}</p>
    <p class="head-sub"><strong>City = {{ country.city_name }}</strong>


<a href="{{url_for('validate', review_id = title._id)}}" class="lined thin validate">Is this your review? Click here to edit or delete</a>


<div class="row">
  <div class="col s12">
      <ul class="collapsible popout">
        <li>
          <div class="lined thin collapsible-header active">
            <i class="material-icons">filter_drama</i>Overview
          </div>
          <div class="lined thin collapsible-body">
            <span>
              {% if first.review_title == title.review_title %}
              <div class="row">
                <div class="row">
                  <div class="lined thin col s12 m6">
                    <p class="head-sub">Start Date - {{ first.start_date }}</p>
                  </div>
                  <div class="lined thin col s12 m6">
                    <p class="head-sub">End Date - {{ first.end_date }}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="lined thin col s6 m4">
                    <p class="head-sub"><strong>what was the reason for your trip?</strong></p>
                    {{ first.reason }}
                  </div>
                  <div class="lined thin col s6 m4">
                    <p class="head-sub"><strong>The event I attended was</strong></p>
                    {{ first.event }}
                  </div>
                  <div class="lined thin col s6 m4">
                    <p class="head-sub"><strong>For this trip I traveled.....</strong></p>
                    {{ first.s_or_g }}
                  </div>
                </div>
              </div>
              {% endif %}
            </span>
          </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">place</i>Accommodation {{ first.accom_name
            }}
          </div>
          <div class="lined thin collapsible-body">
            <span>
              <div class="row">
                {% for a in accom %} {% if a.review_title.lower() ==
                title.review_title %}
                <div class="lined thin col s12">
                  <p class="head-sub">Accommodation name</p>
                  <a href="{{ a.accom_site }}">{{ a.accom_name | title }}</a>
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub"><strong>Accommodation Style</strong></p>
                  {{ a.accom_style }}
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub"><strong>Price per night</strong></p>
                  {{ a.accom_price }}
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub"><strong>Accommodation Address</strong></p>
                  {{ a.accom_address }}
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub"><strong>Accommodation Clenliness</strong></p>
                  {{ a.accom_clean }}
                </div>
                <div class="lined thin col s12">
                  <p class="head-sub">
                    <strong>Final comments about your accommodation</strong>
                  </p>
                  {{ a.accom_comment }}
                </div>
                <div class="row section"></div>
                {% endif %} {% endfor %}
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">whatshot</i>Attractions
          </div>
          <div class="lined thin collapsible-body">
            <span>
              <div class="row">
                {% for at in attract %} {% if at.review_title ==
                title.review_title %}
                <div class="row">
                  <div class="lined thin col m8 s12">
                    <p class="head-sub">Attraction name</p>
                    <a href="{{ at.attract_site }}"
                      >{{ at.attract_name | title }}</a
                    >
                  </div>
                  <div class="lined thin col m3 s6">
                    <p class="head-sub"><strong>Overall attraction rating</strong></p>
                    {{ at.attract_rating }}
                  </div>
                </div>
                <div class="row">
                  <div class="lined thin col m6 s12">
                    <p class="head-sub"><strong>Attraction Cost</strong></p>
                    {{ at.attract_cost }} - In local currency
                  </div>
                  <div class="lined thin col m6 s12">
                    <p class="head-sub"><strong>Attraction type</strong></p>
                    {{ at.attract_type }}
                  </div>
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub"><strong>Guided or self tour?</strong></p>
                  {{ at.attract_guide }}
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub"><strong>Do you need a ticket?</strong></p>
                  <a href="{{ at.ticket_site }}">{{ at.attract_ticket }}</a>
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub">
                    <strong>How long should someone put aside for this?</strong>
                  </p>
                  {{ at.attract_time }} hours
                </div>
                <div class="row">
                  <div class="lined thin col s12">
                    <p class="head-sub"><strong>Any final commments?</strong></p>
                    {{ at.attract_comment }}
                  </div>
                </div>
                {% endif %} {% endfor %}
              </div>
            </span>
          </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">whatshot</i>Hospitality
          </div>
          <div class="lined thin collapsible-body">
            <span>
              {% for h in hospo %} {% if h.review_title == title.review_title %}
              <div class="row">
                <div class="row">
                  <div class="lined thin col m8 s12">
                    <p class="head-sub">Name of the venue</p>
                    <a href="{{ h.hospo_site }}">{{ h.hospo_name | title }}</a>
                  </div>
                  <div class="lined thin col m3 s6">
                    <p class="head-sub"><strong>Overall vene rating</strong></p>
                    {{ h.hospo_overall_rating }}
                  </div>
                </div>
                <div class="row">
                  <div class="lined thin col m6 s12">
                    <p class="head-sub"><strong>Venue style</strong></p>
                    {{ h.hospo_style }}
                  </div>
                  <div class="lined thin col m6 s12">
                    <p class="head-sub"><strong>Service rating</strong></p>
                    {{ h.hospo_service_rate }}
                  </div>
                  <div class="lined thin col m6 s12">
                    <p class="head-sub"><strong>Opening hours</strong></p>
                    {{ h.hospo_hours }}
                  </div>
                  <div class="lined thin col m6 s12">
                    <p class="head-sub"><strong>Approximate cost</strong></p>
                    {{ h.hospo_cost }}
                  </div>
                </div>
                <div class="row">
                  <div class="lined thin col s12">
                    <p class="head-sub"><strong>Any final comments?</strong></p>
                    {{ h.hospo_comment }}
                  </div>
                </div>
              </div>
              {% endif %} {% endfor %}
            </span>
          </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">whatshot</i>Final info
          </div>
          <div class="lined thin collapsible-body">
            <span>
              {% if final.review_title == title.review_title %}
              <div class="row">
                <div class="lined thin col m6 s12">
                  <p class="head-sub">Transport from the airport or train station</p>
                  {{ final.ap_transport }}
                </div>
                <div class="lined thin col m6 s12">
                  <p class="head-sub"><strong>Transport around the city</strong></p>
                  {{ final.city_transport }}
                </div>
              </div>
              <div class="row">
                <div class="lined thin col s12">
                  <p class="head-sub"><strong>Reasons you'd go back to {{ city }}</strong></p>
                  {{ final.reasons_yes }}
                </div>
                <div class="lined thin col s12">
                  <p class="head-sub">
                    <strong>Reasons you wouldn't go back to {{ city }}</strong>
                  </p>
                  {{ final.reasons_not }}
                </div>
                <div class="lined thin col s12">
                  <p class="head-sub"><strong>Any last comments?</strong></p>
                  {{ final.comment_gen }}
                </div>
              </div>
              {% endif %}
            </span>
          </div>
        </li>
      </ul>
      <div class="center_btn">
        <button
          formaction="{{url_for('home')}}"
          class="lined thin btn waves-effect waves-light"
          type="submit"
        >
          Click here to save and return to the main page
          <i class="material-icons right">playlist_add</i>
        </button>
      </div>
  </div>
</div>
</div>
</div>

{% endblock %}
