{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row">
    <div class="col title s12">
      <p class="head-main">Add Country</p>
      {{ error }}
      <form action="{{ url_for('search') }}" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">flight_takeoff</i>
            <input
              id="country_name"
              name="country_name"
              type="text"
              class="validate"
              required
            />
            <label for="country_name">Country Name - Required</label>
          </div>
        </div>
        <div class="center_btn">
          <button class="lined thin btn waves-effect waves-light" type="submit">
            Add Country
            <i class="material-icons right">playlist_add</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
