{% extends 'base.html' %}{% block content %}
<div class="container">
  <div class="row">
    <div class="col title center s12">
      <p class="heading-box head-main">
        Add a city to {{country.country_name |title}}
      </p>
    </div>
  </div>
  <form action="{{ url_for('insert_city') }}" method="POST" class="col s12">
    <input
      type="hidden"
      id="country_name"
      name="country_name"
      value="{{country.country_name}}"
    />

    <div class="input-field col s12">
      <i class="material-icons prefix">flight_land</i>
      <input id="city_name" name="city_name" type="text" required />
      <label for="icon_prefix">City Name - Required</label>
    </div>

    <div class="row center_btn">
      <button class="lined thin btn waves-effect waves-light" type="submit">
        Add City
        <i class="material-icons right">playlist_add</i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
