{% extends 'base.html' %} {% block content %}
<h3>Add Some final comments to {{title.review_title |title}}</h3>
<div class="row">
  <form action="{{ url_for('insert_final') }}" method="POST" class="col s12">
  <input type="hidden" id="review_title" name="review_title" value="{{title.review_title}}" readonly/>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_name" name="hospo_name" type="text" />
        <label for="icon_prefix">Venue name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_site" name="hospo_site" type="text" />
        <label for="icon_prefix">Venue Website</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_style" name="hospo_style" type="text" />
        <label for="icon_prefix">Venue style</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_hours" name="hospo_hours" type="text" />
        <label for="icon_prefix">Opening hours</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_cost" name="hospo_cost" type="text" />
        <label for="icon_prefix">Cost rating</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_service_rate" name="hospo_service_rate" type="text" />
        <label for="icon_prefix">How was the service out of 10?</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_overall_rating" name="hospo_overall_rating" type="text" />
        <label for="icon_prefix">Taking service, cost, wait time, location etc into consideration</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">Map</i>
        <input id="hospo_comment" name="hospo_comment" type="text" />
        <label for="icon_prefix">Final comments</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit">
        Add Hospitality 
        <i class="material-icons right">playlist_add</i>
      </button>
    </div>
  </form>
</div>


{% endblock %}
