{% extends 'base.html' %} {% block content %}
<div class="container">
{{ the_title }}
<div class="row">
  <form action="{{ url_for('confirm_title', review_id=title._id) }}" method="POST" class="col s12">
    <input type="text" id="" name="is_correct" value=""  required />
    <div class="input-field col s12">
		<label for="is_correct">Confirm review title</label>
	</div>
    <div class="center_btn delete_outter">
      <button class="lined thin delete btn-large waves-effect waves-light" type="submit">
        Confirm review title
      </button>
    </div>
  </form>
</div>


</div>





{% endblock %}
