{% extends 'base.html' %} {% block content %}
<h3>View what you've written for {{title.review_title |title}}</h3>
<h5>You have an opportunity to edit your review here as well</h5>
{{ city }}
{{ country.country_name }}
<div class="row">
    <div class="input-field col s12">
    <form action="{{ url_for('all_done') }}" class="col s12">
    <input type="hidden" id="review_title" name="review_title" value="{{title.review_title}}" readonly/>
    <ul class="collapsible">
    <li>
      <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Review info</div>
      <div class="collapsible-body"><span>
      <h5>Start Date</h5>
      {{ first.start_date }}
      {{ first.end_date }}
      {{ first.event }}
      {{ first.s_or_g }}      
      </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Accommodation</div>
      <div class="collapsible-body"><span>
      {% for a in accom %}
      {{ a.accom_name }}
      {{ a.accom_site }}
      {{ a.accom_address }}
      {{ a.accom_style }}
      {{ a.accom_price }}
      {{ a.accom_clean }}
      {{ a.accom_comment }}
      {% endfor %}
      
      
      </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Attractions</div>
      <div class="collapsible-body"><span>
      {% for a in attract %}
      {{ a.attract_name }}
      {{ a.attract_site }}
      {{ a.attract_type }}
      {{ a.attract_cost }}
      {{ a.attract_guide }}
      {{ a.attract_ticket }}
      {{ a.ticket_site }}
      {{ a.attract_time }}
      {{ a.attract_rating }}
      {{ a.attract_comment }}
      {% endfor %}
      
      </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Hospitality</div>
      <div class="collapsible-body"><span>
      {% for h in hospo %}
      {{ h.hospo_name }}
      {{ h.hospo_site }}
      {{ h.hospo_site }}
      {{ h.hospo_style }}
      {{ h.hospo_hours }}
      {{ h.hospo_cost }}
      {{ h.hospo_service_rate }}
      {{ h.hospo_overall_rating }}
      {{ h.hospo_comment }}
      {% endfor %}
      
      </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Final info</div>
      <div class="collapsible-body"><span>

      {{ final.ap_transport }}
      {{ final.city_transport }}
      {{ final.reasons_yes }}
      {{ final.reasons_not }}
      {{ final.comment_gen }}
      
      </span>
      </div>
    </li>
  </ul>
    </div>
  
      <button class="btn waves-effect waves-light" type="submit">
        Click here to save and return to the main menu
        <i class="material-icons right">playlist_add</i>
      </button>
</div>


{% endblock %}
