{% extends 'base.html' %} {% block content %}
<h3 class="lined thin heading-box">View what you've written for {{title.city_name |title}}</h3>
<h5>You have an opportunity to edit your review here as well</h5>
<h5>Country = {{ country.country_name }}</h5>
<h6><strong>City = {{ city }}</strong></h6>

<div class="row">
  <div class="col s12">
    <form action="{{ url_for('all_done') }}" class="col s12">
      <input type="hidden" id="review_title" name="review_title" value="{{title.review_title}}" readonly />
      <ul class="collapsible popout">
        <li>
          <div class="lined thin collapsible-header active">
            <i class="material-icons">filter_drama</i>When was your trip? How
            long were you there for? What was the reason? Were you kicking it
            solo or with a tour?</div>
          <div class="lined thin collapsible-body">
          <span>
          {% if first.review_title == title.review_title %}
          <div class="row">
                <div class="row">
                  <div class="lined thin col s6">
                    <h5>Start Date - {{ first.start_date }}</h5>
                  </div>
                  <div class="lined thin col s6">
                    <h5>End Date - {{ first.end_date }}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="lined thin col s4">
                    <h6><strong>what was the reason for your trip?</strong></h6>
                    {{ first.reason }}
                  </div>
                  <div class="lined thin col s4">
                    <h6><strong>The event I attended was</strong></h6>
                    {{ first.event }}
                  </div>
                  <div class="lined thin col s4">
                    <h6><strong>For this trip I traveled.....</strong></h6>
                    {{ first.s_or_g }}
                  </div>
                </div>
                <a href="{{url_for('edit_first', first_id=first._id)}}"  class="lined thin waves-effect waves-light btn-large btn">Edit</a>
                <a href="{{url_for('delete_section', section_id=first._id, cat_name='first_info')}}"  class="lined thin waves-effect waves-light btn-large btn">Delete this section</a>
          </div>
          {% endif %}
            </span>
            </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">place</i>Accommodation {{ first.accom_name }}
          </div>
          <div class="lined thin collapsible-body">
              <span>
             
              <div class="row">
              {% for a in accom %}
              {% if a.review_title.lower() == title.review_title %}
                <div class="lined thin col s12">
                    <h5>Accommodation name</h5>
                    <a href="{{ a.accom_site }}">{{ a.accom_name | title }}</a>
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Accommodation Style</strong></h6>
                    {{ a.accom_style }}
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Price per night</strong></h6>
                    {{ a.accom_price }}
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Accommodation Address</strong></h6>
                    {{ a.accom_address }}
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Accommodation Clenliness</strong></h6>
                    {{ a.accom_clean }}
                  </div>
                  <div class="lined thin col s12">
                    <h6>
                      <strong>Final comments about your accommodation</strong>
                    </h6>
                    {{ a.accom_comment }}
                  </div>
                  <div class="row section">
                  <a href="{{url_for('edit_accom', accom_id=a._id)}}"  class="lined thin waves-effect waves-light btn-large btn">Edit</a>
                  <a href="{{url_for('delete_section', section_id=a._id, cat_name='accommodation')}}"  class="lined thin waves-effect waves-light btn-large btn">Delete this section</a>
                  </div>
                  {% endif %}
                {% endfor %}
                </div>
                
              </span>
          </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">whatshot</i>Attractions</div>
          <div class="lined thin collapsible-body">
              <span>
              <div class="row">
              {% for at in attract %}
              {% if at.review_title == title.review_title %}
              <div class="row">
                  <div class="lined thin col m8 s12">
                    <h5>Attraction name</h5>
                    <a href="{{ at.attract_site }}">{{ at.attract_name | title }}</a>
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Overall attraction rating</strong></h6>
                    {{ at.attract_rating }}
                  </div>
              </div>
              <div class="row">
                <div class="lined thin col m4 s6">
                  <h6><strong>Attraction Cost</strong></h6>
                  {{ at.attract_cost }} - In local currency
                </div>
                <div class="lined thin col m4 s6">
                  <h6><strong>Attraction type</strong></h6>
                  {{ at.attract_type }}
                </div>
              </div>
                <div class="lined thin col m4 s6">
                  <h6><strong>Guided or self tour?</strong></h6>
                  {{ at.attract_guide }}
                </div>
                <div class="lined thin col m4 s6">
                  <h6><strong>Do you need a ticket?</strong></h6>
                  <a href="{{ at.ticket_site }}">{{ at.attract_ticket }}</a>
                </div>
                <div class="lined thin col m4 s6">
                  <h6>
                    <strong>How long should someone put aside for this?</strong>
                  </h6>
                  {{ at.attract_time }} hours
                </div>
              <div class="row">
                <div class="lined thin col s12">
                  <h6><strong>Any final commments?</strong></h6>
                  {{ at.attract_comment }}
                 </div>
              </div>
                 <a href="{{url_for('edit_attract', attract_id=at._id)}}"  class="lined thin waves-effect waves-light btn-large btn">Edit</a>
                <a href="{{url_for('delete_section', section_id=at._id, cat_name='attractions')}}"  class="lined thin waves-effect waves-light btn-large btn">Delete this section</a>
                {% endif %}
                {% endfor %}
                </div>
                 </span> 
            </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">whatshot</i>Hospitality
          </div>
          <div class="lined thin collapsible-body">
            <span>
            {% for h in hospo %}
            {% if h.review_title == title.review_title %}
              <div class="row">
                <div class="row">
                  <div class="lined thin col m8 s12">
                    <h5>Name of the venue</h5>
                    <a href="{{ h.hospo_site }}">{{ h.hospo_name | title }}</a>
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Overall vene rating</strong></h6>
                    {{ h.hospo_overall_rating }}
                  </div>
                </div>
                <div class="row">
                  <div class="lined thin col m3 s6">
                    <h6><strong>Venue style</strong></h6>
                    {{ h.hospo_style }}
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Service rating</strong></h6>
                    {{ h.hospo_service_rate }}
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Opening hours</strong></h6>
                    {{ h.hospo_hours }}
                  </div>
                  <div class="lined thin col m3 s6">
                    <h6><strong>Approximate cost</strong></h6>
                    {{ h.hospo_cost }}
                  </div>
                </div>
                <div class="row">
                <div class="lined thin col m12 s6">
                  <h6><strong>Any final comments?</strong></h6>
                  {{ h.hospo_comment }}
                </div>
                </div>
              <a href="{{url_for('edit_hospo', hospo_id=h._id)}}"  class="section lined thin waves-effect waves-light btn-large btn">Edit</a>
              <a href="{{url_for('delete_section', section_id=h._id, cat_name='hospitality')}}"  class="lined thin waves-effect waves-light btn-large btn">Delete this section</a>
              </div>
              {% endif %}
              {% endfor %}
            </span>
          </div>
        </li>
        <li>
          <div class="lined thin collapsible-header">
            <i class="material-icons">whatshot</i>Final info
          </div>
          <div class="lined thin collapsible-body">
            <span>
            {% if final.review_title == title.review_title %}
              <div class="row">
                <div class="lined thin col m6 s12">
                  <h6>Transport from the airport or trainstation</h6>
                  {{ final.ap_transport }}
                </div>
                <div class="lined thin col m6 s6">
                  <h6><strong>Transport around the city</strong></h6>
                  {{ final.city_transport }}
                </div>
              </div>
              <div class="row">
                <div class="lined thin col s12">
                  <h6><strong>Reasons you'd go back to {{ city }}</strong></h6>
                  {{ final.reasons_yes }}
                </div>
                <div class="lined thin col s12">
                  <h6>
                    <strong>Reasons you wouldn't go back to {{ city }}</strong>
                  </h6>
                  {{ final.reasons_not }}
                </div>
                <div class="lined thin col s12">
                  <h6><strong>Any last comments?</strong></h6>
                  {{ final.comment_gen }}
                </div>
              </div>
              <a href="{{url_for('edit_final', final_id=final._id)}}"  class="lined thin waves-effect waves-light btn-large btn">Edit</a>
            <a href="{{url_for('delete_section', section_id=final._id, cat_name='reviews')}}"  class="lined thin waves-effect waves-light btn-large btn">Delete this section</a>
            {% endif %}
            </span>
          </div>
        </li>
      </ul>
      <div class="center_btn">
        <button class="lined thin btn waves-effect waves-light" type="submit">
          Click here to save and return to the main menu
          <i class="material-icons right">playlist_add</i>
        </button>
      </div>
      <div class="center_btn delete_outter">
      <button formaction = "{{ url_for('delete_all', title_id=title._id) }}" class="lined thin delete btn-large waves-effect waves-light" type="submit">
        Delete whole review
        <i class="material-icons right">playlist_add</i>
      </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
